@import "colors.css";

/* ==========================
   Global
========================== */

* {
    font-family: "CaskaydiaCove Nerd Font Propo", "Symbols Nerd Font", sans-serif;
    font-size: 14px;
    font-weight: bold;
    min-height: 0px;
    border: none;
    transition: all .3s ease-in-out;
}

window#waybar {
    background: transparent;
    color: @border;
}

/* ==========================
   Tooltip
========================== */

tooltip {
    background: @bg;
    border: 1px solid @border;
    border-radius: 5px;
}

tooltip label {
    color: @foreground;
    padding: 8px;
}

/* ==========================
   LEFT / CENTER / RIGHT BOXES
========================== */

.modules-left,
.modules-center,
.modules-right {

    background: @background;

    border: 1px solid @border;

    border-radius: 8px;

    padding: 0px 3px;

    margin: 1px 1px 1px 1px;
}

/* ==========================
   COMMON MODULE STYLE
========================== */

#clock,
#custom-backlight,
#tray,
#custom-notification,
#cpu,
#memory,
#bluetooth,
#network,
#pulseaudio,
#backlight {

    background: transparent;

    color: @text;

    padding: 0px 5px;

    margin: 3px;

    border-radius: 8px;
}

/* ==========================
   HOVER
========================== */

#clock:hover,
#tray:hover,
#custom-notification:hover,
#language:hover,
#cpu:hover,
#memory:hover,
#bluetooth:hover,
#network:hover,
#pulseaudio:hover,
#backlight:hover {

    background: @module-hover;
}

/* ==========================
   COLORS
========================== */

#clock {
    color: @grad1;
}

#hypr-language {
    color: @text-muted;
}

#cpu {
    color: @grad4;
}

#memory {
    color: @grad4;
}

#network {
    color: @danger;
}

#bluetooth {
    color: @accent2;
}

#volume-slider {
    color: @warning;
}

#backlight-slider {
    color: @warning;
}

#custom-backlight{
    color: @warning;
}

#pulseaudio {
    color: @warning;
}

#custom-notification {
    color: @color5;
}


/* ==========================
   WORKSPACES
========================== */

#workspaces {

    background: transparent;

    padding: 2px;

    margin: 0;
}

#workspaces button {

    background: transparent;

    color: @warning;

    margin: 3px;

    padding: 0 14px;

    border-radius: 5px;
}

#workspaces button:hover {

    background: @border;

    color: @background;
}

#workspaces button.active {

    background: @text-muted;

    color: @warning;

    min-width: 50px;
}

#workspaces button.urgent {

    background: @background;

    color: @foreground;
}


trough {
    min-height: 8px;
    border-radius: 999px;
    background: @bg-light;
}

highlight {
    min-height: 8px;
    border-radius: 999px;
    background: @accent;
}

slider {
    min-width: 10px;
    min-height: 10px;
    border-radius: 999px;

    background: @color0;
}


/* ==========================
   TRAY
========================== */

#tray>.passive {
    opacity: .3;
}

#tray>.needs-attention {

    color: @danger;
}

/* ==========================
   DISCONNECTED
========================== */

#network.disconnected {

    color: rgb(107, 8, 8) ;
}

/* ==========================
   MUTED
========================== */

#pulseaudio.muted {

    color: @text-muted;
}

/* ==========================
   BLUETOOTH OFF
========================== */

#bluetooth.disabled {

    color: @text-muted;
}

scale {
    min-width: 40px;
}


#custom-logo {
    color: @color0;
    font-size: 18px;
    margin: 5px;
}
#custom-powermenu {
    color: @color0;
    font-size: 18px;
        margin: 5px;
}
#hyprland-language {
    color: @warning;
    
}